#projects {
    margin: auto;
    flex-flow: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

#top {
    text-align: center;
}

.article {
    margin: auto;
    text-align: center;
}

.article img {
    width: 400px;
}

.article p {
    max-width: 400px;
}

body {
    margin: auto;
    width: 90%;
}
